!~ URxvt Settings ~!
URxvt.saveLines:512

URxvt.cursorBlink: 0
URxvt.cursorUnderline: 0
URxvt.boldFont:
!URxvt*font:          xft:bitocra-8
URxvt*font:          xft:dweep-8
!URxvt*font:          xft:Perfect DOS VGA 437-9
!URxvt*font:          xft:TI-99/4A-12
!URxvt*font:          xft:Sinclair ZX Spectrum ES-6
!URxvt*font:          xft:JetBrain Mono-8

Xft.dpi:                      108
Xft.antialias:        		1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                 full
Xft.lcdfilter:                 full
Xft.rgba:                       rgb

!URxvt.lineSpace:                -1
!URxvt.letterSpace:              -1
URxvt.lineSpace:                0
URxvt.letterSpace:             1

URxvt.skipScroll:               true
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt.loginShell:               true
URxvt.internalBorder:	25
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:            google-chrome
URxvt*fading:  0
URxvt*blurRadius:  0
URxvt*depth:  0
URxvt*inheritPixmap: true
URxvt.transparent: true
URxvt.shading: 20
URxvt.Geometry: 120x96
URxvt.matcher.button: 1
*.foreground:   #e1bcc8
*.background:   #161219
*.cursorColor:  #c7c7c7

! black
*.color0:       #6a6a6a
*.color8:       #6a6a6a

! red
*.color1:       #d2275a
*.color9:       #ff2f6d

! green
*.color2:       #8752ba
*.color10:      #b66efb

! yellow
*.color3:       #e15581
*.color11:      #fb5f90

! blue
*.color4:       #1e59aa
*.color12:      #2c84fc

! magenta
*.color5:       #8752ba
*.color13:      #b56efa

! cyan
*.color6:       #4b76b8
*.color14:      #67a2fd

! white
*.color7:       #e95986
*.color15:      #fb89ad

