!~ URxvt Settings ~!
URxvt.saveLines:512

URxvt.cursorBlink: 1
URxvt.cursorUnderline: 0

Xft.dpi:                      108
Xft.antialias:        		1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                 full
Xft.lcdfilter:                 full
Xft.rgba:                       rgb

URxvt.lineSpace:                -1
URxvt.letterSpace:              0
URxvt.skipScroll:               true
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt.loginShell:               true
URxvt.internalBorder:	5
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:            google-chrome
URxvt*fading:  0
URxvt.transparent: false
URxvt.shading: 20
URxvt.Geometry: 120x96
URxvt.tintColor: #ffffff
URxvt.matcher.button: 		1

*cursorColor:                         #917154
*colorIT:                             #E3AB8D
*colorBD:                             #F0E5DF
*colorUL:                             #cd546c
*VT100.colorBDMode:                   true
*VT100.colorBD:                       red
*VT100.colorULMode:                   true
*VT100.colorUL:                       magenta
*VT100.veryBoldColors:                6

*.foreground: #0066cc

*background: #FFF


!black
*color0:     #000
*color8:     #001a33
!red
*color1:     #0059b3
*color9:     #66b3ff
!green
*color2:     #0059b3
*color10:    #0080ff
!yellow
*color3:     #0059b3
*color11:    #0059b3
!blue
*color4:     #0066cc
*color12:    #0066cc
!magenta
*color5:     #0059b3
*color13:    #0059b3
!cyan
*color6:     #0059b3
*color14:    #0059b3
!white
*color7:     #4da6ff
*color15:    #99ccff

