!~ URxvt Settings ~!
URxvt.saveLines:512
!URxvt*font:         xft:JetBrains Mono-9
!URxvt.boldfont:     xft:JetBrains Mono Medium-9

URxvt*font:         xft:SF Mono:style=SemiBold:size=8
URxvt.boldfont:     xft:SF Mono:style=Bold:size=8

URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

Xft.dpi:                      108
Xft.antialias:                  1
Xft.autohint:                   1
Xft.bold:                       1
Xft.hinting:                    1
Xft.hintstyle:                 full
Xft.lcdfilter:                 full
Xft.rgba:                       rgb

URxvt.lineSpace:                -1
URxvt.letterSpace:             0

URxvt.skipScroll:               true
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt.loginShell:               true
URxvt.internalBorder:	        45
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:            google-chrome
URxvt*fading:  0
URxvt*blurRadius:  0
URxvt*depth:  0
URxvt*inheritPixmap: false
URxvt.transparent: false
URxvt.shading: 190
URxvt.Geometry: 120x120
URxvt.matcher.button: 1

*background: #1D2426
*foreground: #8FA388

!*foreground: #AB9C71

*cursorColor: #FFFFFF

*color0:  #39474A
*color1:  #986345
*color2:  #788249
*color3:  #9B6A46
*color4:  #3E5951
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71

